@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,300&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background:#F2F2F2;
}
h1{
    text-align: center;
    margin-top:25px;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 10px;
    color:#F26849 ;
}
/*loader*/
.loader{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.7);
}
.loader img{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Image Container */
.image-container{
    margin:10px 18%;
}
.image-container img{
    width: 100%;
    margin-top: 5px;
}
/* Media Query: larger Smartphone */
@media screen and (max-width: 600px){
    h1{
        font-size: 23px;
    }
    .image-container{
        margin:10px;
    }

}